/* General Body */

body {
    background-color: #DEEBF7;
    font-family: Arial, sans-serif;
    color: black;
    margin: 50px;
}


/* Heading before the <hr /> */

.greeting {
    font-family: 'Courier New', Courier, monospace;
    font-size: 10em;
    margin-bottom: 0;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 7em;
    margin-top: 0;
}


/* Horizontal Line */

hr {
    color: black;
    margin-top: 50px;
    margin-bottom: 50px;
    size: 50px;
}


/* Introduction; Between the horizontal */

.introduction {
    font-size: 18px;
    line-height: 1.6;
    max-width: fit-content;
    text-align: center;
}


/* The personal information */

h1 {
    margin-top: 60px;
}

.things-title {
    text-align: center;
}


/* PERSONAL INFORMATIONS */

.personal-info {
    display: flex;
    justify-content: space-between;
    text-align: center;
    max-width: 1000px;
    margin: 50px auto;
}

.info-box {
    width: 45%;
}

.info-value {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 5px;
}

.info-label {
    font-size: 18px;
    margin-top: 0;
}

/* The listing part */

ul {
    list-style-type: circle;
    line-height: 2;
    font-size: 17px;
}

ol {
    line-height: 2;
    font-size: 17px;
}


/* Subheading sa personal information */

h4 {
    font-size: 20px;
    margin-top: 40px;
}

/* Social Part */
.contact{
    text-align: center;
}

.socials {

}

.social-links {

}

/* Painting Parts */

.paintings {
    text-align: center;
}
